

.index_img {
    border-radius: 50%;
    max-width: 15%;
    max-height: 15%;
    text-align: center;
}



.slide-dim{
    width: 100%;
    height: auto;
    max-width: 100%;
    margin-top: 50px;
    
}

.navbar-custom {
    background-color: #56575a;
    color: #dddddf;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.nav-link{
    color: #e7e7e7;
}

.navbar-brand{
    color: #e7e7e7;
}

.content{
    
    margin-top: 0px !important;
    margin-bottom: 0px;
}

.pages{

  
    margin-top: 70px !important;
    margin-bottom: 0px;
}



.card-button {
    border: none;
    padding: 0;
    background-color: hsla(0, 100%, 100%, 0.04); 
    cursor: pointer;
    text-align: left;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    
    
    
}

#carouselExample{
    width: 100%;
    height: auto;
    max-width: 100%;
    margin-top: 0px;
}




.card-button-post {
    border: none;
    padding: 0;
    background-color: hsla(0, 16%, 96%, 0.7); 
    cursor: pointer;
    text-align: left;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.card-div{
    width: 100%;
    height: auto;
    color: #ffffff;
    margin-top: 50%;
    
}



.card-div-content{
    margin-left: 5%;
    margin-bottom: 60%;
}

.card-div-content-port{
    margin-left: 5%;
    margin-bottom: 80%;
}

.card-div-content-2{
    left: 35%;
    bottom: 25%;
   
    
}

.card-div-content-3{
    margin-left: 5%;
    margin-top: 20%;
}






.card {
    background-color:#f3f2f2; 
    display: flex;
    width: 75%;
    height: 100%; 
}

.card-2 {
    background-image: linear-gradient(#024161, #045680,#0389cc,#0389cc,#045680 ,#024161); 
    color: aliceblue;
    display: flex;
    width: 75%;
    border-radius: 25%;
    
}

.card-content {
    flex: 1;
    padding: 20px;
}





.index-card {
    padding: 10px;
    margin: 10px;
    
}

.footer {
    background-color: #292e33;
    color: #ffffff;
    text-align: center;
    padding: 5px;
    position: fixed; 
    width: 100%;
    bottom: 0; 
}







@media (max-width: 390px) {
    .dash-card {
        font-size: 14px; 
        
    }
    .card {
        
        width: 150%;
        margin-left: 0em;
        
        
    }
}




