{% extends 'base.html' %}

{% block content %}

<div class="content">

    {% if title %}
    <div class="container d-flex col-7 justify-content-center">
        <center><h1>Blog Posted:</h1></center>
    </div>

    <br/>
    
    {% else %}

    {% if current_user.is_authenticated %}

    <br/>
    <br/>
    <br/>
    <br/>
    
    <div class="container d-flex col-7 justify-content-center ">
        <center><h1>Add Blog Post:</h1></center>
    </div>
    
    <br/>

    
                <div class="card mx-auto">
                    <div class="card-body">

                        <form method="POST" >
                            {{ form.hidden_tag() }}

                            <div class="form-group">
                                {{ form.title.label(class="form-label") }}
                                {{ form.title(class="form-control") }}
                            </div>

                            <br/>


                            <div class="form-group">
                                {{ form.slug.label(class="form-label") }}
                                {{ form.slug(class="form-control") }}
                            </div>

                            <br/>

                            <div class="form-group">
                                {{ form.content.label(class="form-label") }}
                                {{ form.content(class="form-control", rows=10) }}
                            </div>

                            <br/>

                            {{ form.submit(class="btn btn-primary") }}

                        </form>
                        {{ ckeditor.load() }}
                        {{ ckeditor.config(name='content') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% else %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8"> 
            <center><h2>You are not logged in!</h2>
            <p>You must be logged in tp add a post</p>
            <a href="{{ url_for('login') }}" class="btn btn-info">Login Here</a></center>
        </div>
    </div>
</div>        
{% endif %}
    
{% endif %}

{% endblock %}
