{% extends 'base.html' %}

{% block content %}
<div class="content">

    {% if name %}

    <div class="container d-flex col-7 justify-content-center">

        <center><h1>Thank you {{ name }}! <br/>
        Your message has been sent <br/>
        I will respond as soon as I can.</h1></center>
    
    </div>

    {% else %}

    <br/>
    <br/>
    <br/>
    <br/>

    <div class="container d-flex  justify-content-center">
        <h1>Let's get in touch!</h1>
    </div>

    <div class="container d-flex  justify-content-center">
        <h4>Feel free to fill out the form to send me a message</h4>
    </div>

    <br/>
    <br/>

   

    
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 "> 
                

                        <form method="POST" action="/contact">

                            {{ form.hidden_tag() }}
    
                            <div class="form-group">
                                {{ form.name.label(class="form-label") }}
                                {{ form.name(class="form-control") }}
                            </div>

                            <br/>
    
                            <div class="form-group">
                                {{ form.email.label(class="form-label") }}
                                {{ form.email(class="form-control") }}
                            </div>

                            <br/>
    
                            <div class="form-group">
                                {{ form.message.label(class="form-label") }}
                                {{ form.message(class="form-control", rows='8') }}
                            </div>
    
                            <br/>
                            
    
                            {{ form.send(class="btn btn-primary") }}

                        </form>
                        
              
            </div>
        </div>
    </div>
    

    {% endif %}



{% endblock %}
</div>