{% extends 'base.html' %}

{% block content %}
<div class="content">



   
  
        
   

    <br/>
    

<div class="container w-50 p-2">
 

    <h2>You Are Logged In:</h2>
    
        <div class="card">
            <div class="card-header">
                <strong>{{ current_user.name}}</strong>
        </div>
        <div class="card-body">
          <h5 class="card-title">Welcome to your dashboard</h5>
          <p class="card-text">

            
            
                        <strong>ID:</strong> {{ current_user.id }}<br/>
                        <strong>Name:</strong> {{ current_user.name }}<br/>
                        <strong>Username:</strong> {{ current_user.username }}<br/>
                        <strong>Email:</strong> {{ current_user.email }}<br/>
                        <strong>Date Joined:</strong> {{ current_user.date_added.strftime("%d/%b/%Y") }}<br/>
            
                        
          </p>
                            <a href="{{url_for('logout')}}" class="btn btn-secondary">Logout</a>
                            
                            <a href="{{ url_for('delete', id=current_user.id)}}" class="btn btn-danger">Delete</a>

                            
                        


        </div>
    </div>


    <br/>


    
    <h2 class='dashboard-h2'>Update Profile:</h2>
    <div class="card">
        <div class="card-body">

                        <form method="POST" action="/dashboard">
                            {{ form.hidden_tag() }}

                            <div class="form-group">
                                {{ form.name.label(class="form-label") }}
                                {{ form.name(class="form-control", value=name_to_update.name) }}
                            </div>

                            <br/>

                            <div class="form-group">
                                {{ form.username.label(class="form-label") }}
                                {{ form.username(class="form-control", value=name_to_update.username) }}
                            </div>

                            <br/>

                            <div class="form-group">
                                {{ form.email.label(class="form-label") }}
                                {{ form.email(class="form-control", value=name_to_update.email) }}
                            </div>

                            <br/>

                            

                            {{ form.update(class="btn btn-primary") }}

                        </form>
            
                    
    </div>
</div>
      


</div>







 
                








    

    
{% endblock %}
</div>

